a:link {
    text-decoration: none; /*Burda link verdiğimizde altı çizili olması durumunu kaldırıyoruz, none yapıyoruz.*/
    font-size: 14px;
    font-family: 'Segoe UI';
    font-style: normal;
}

a:hover { /*Üstüne gelince ne olacağı ile ilgili kodlarımızı yazarız*/

    font-size: 17px;
    color: yellow;
}